absl-py
apache-beam
array_record
astunparse
attrs
certifi
charset-normalizer
cloudpickle
contourpy
crcmod
decorator
dill
dm-tree
dnspython
docopt
docstring_parser
etils
fastavro
fasteners
fonttools
fsspec
gast
google-pasta
googleapis-common-protos
grpcio
h5py
hdfs
httplib2
idna
importlib_resources
jsonpath-rw
jsonpickle
jsonschema
jsonschema-specifications
kagglehub
keras
kiwisolver
libclang
Markdown
MarkupSafe
matplotlib
mdurl
ml_dtypes
mlcroissant
namex
networkx
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvcc-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
objsize
opencv-python
opt_einsum
optree
orjson
packaging
pandas-stubs
pillow
pip
ply
protobuf
psutil
pyarrow
pyarrow-hotfix
Pygments
pymongo
pyparsing
python-dateutil
pytz
rdflib
redis
referencing
regex
requests
rich
rpds-py
scipy
setuptools
simple-parsing
six
sortedcontainers
tensorboard
tensorboard-data-server
tensorflow
tensorflow-datasets
tensorflow-io-gcs-filesystem
tensorflow-metadata
tensorflow-text
termcolor
toml
tqdm
types-pytz
typing_extensions
tzdata
Werkzeug
wheel
wrapt
zipp
zstandard